flows-3.json
[{"id":"ec926726.72b7b","type":"tab","label":"Confirmed API","disabled":false,"info":""},{"id":"9d7c11ca.02199","type":"tab","label":"Deaths API","disabled":false,"info":""},{"id":"9fead2a2.73fe28","type":"file","z":"9d7c11ca.02199","name":"","filename":"/data/au_deaths.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1160,"y":420,"wires":[[]]},{"id":"976d9fd7.00867","type":"debug","z":"9d7c11ca.02199","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":262,"wires":[]},{"id":"1104d07f.027f58","type":"function","z":"9d7c11ca.02199","name":"","func":"var data = msg.payload\nconst result = JSON.parse(JSON.stringify(data).replace(/\\b(\\d{4})-(\\d{2})-(\\d{2})T\\d{2}:\\d{2}:\\d{2,3}Z\\b/g, '$1$2$3'));\n\n\nvar tity = result\n\nmsg.payload = tity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":342,"wires":[["eae51eb7.95c568"]]},{"id":"3b2e0671.664bfa","type":"change","z":"9d7c11ca.02199","name":"a","rules":[{"t":"change","p":"payload","pt":"msg","from":"Australia","fromt":"str","to":"vTxdxoQNTws","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"\"Province\":\"\",\"City\":\"\",\"CityCode\":\"\",\"Lat\":\"0\",\"Lon\":\"0\"","fromt":"str","to":"\"categoryOptionCombo\" : \"PXMpT9hEHZu\",       \"attributeOptionCombo\" : \"HllvX50cXC0\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Country","fromt":"str","to":"orgUnit","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Cases","fromt":"str","to":"value","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Status\":\"deaths\"","fromt":"str","to":"dataElement\" : \"vTfF5n028yM\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Date","fromt":"str","to":"period","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"[","fromt":"str","to":"{   \"dataValues\" : [ ","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"\"orgUnitCode\":\"\",","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":340,"wires":[["1104d07f.027f58"]]},{"id":"eae51eb7.95c568","type":"change","z":"9d7c11ca.02199","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":",     {","fromt":"str","to":",     {","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"]","fromt":"str","to":"]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":342,"wires":[["976d9fd7.00867","9fead2a2.73fe28"]]},{"id":"4f1f52e0.de2cdc","type":"http request","z":"9d7c11ca.02199","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.covid19api.com/total/dayone/country/australia/status/deaths","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":361,"wires":[["3b2e0671.664bfa"]]},{"id":"ae06cbcd.4ebfe8","type":"inject","z":"9d7c11ca.02199","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"Inject","payloadType":"str","x":130,"y":382,"wires":[["4f1f52e0.de2cdc"]]},{"id":"35d40c77.f6ac94","type":"comment","z":"9d7c11ca.02199","name":"Important","info":"Note: Important!!!!\n\n\ncategoryOptionCombo\" : \"PXMpT9hEHZu\" = Deaths\n\ncategoryOptionCombo\" : \"eVhEvU8A1Xe\" = Confirmed Cases\n\n\nNB** You need to also change data element\n\nto either confirmed or deaths.","x":420,"y":520,"wires":[]},{"id":"9a977189.7d3dd","type":"file","z":"ec926726.72b7b","name":"","filename":"/data/au_confirmed.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1130,"y":440,"wires":[[]]},{"id":"5394be4e.8cce88","type":"debug","z":"ec926726.72b7b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":282,"wires":[]},{"id":"f5716970.895818","type":"function","z":"ec926726.72b7b","name":"","func":"var data = msg.payload\nconst result = JSON.parse(JSON.stringify(data).replace(/\\b(\\d{4})-(\\d{2})-(\\d{2})T\\d{2}:\\d{2}:\\d{2,3}Z\\b/g, '$1$2$3'));\n\n\nvar tity = result\n\nmsg.payload = tity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":362,"wires":[["8626eca5.4ba548"]]},{"id":"faba1476.0c27e8","type":"change","z":"ec926726.72b7b","name":"a","rules":[{"t":"change","p":"payload","pt":"msg","from":"Australia","fromt":"str","to":"vTxdxoQNTws","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"\"Province\":\"\",\"City\":\"\",\"CityCode\":\"\",\"Lat\":\"0\",\"Lon\":\"0\"","fromt":"str","to":"\"categoryOptionCombo\" : \"eVhEvU8A1Xe\",       \"attributeOptionCombo\" : \"HllvX50cXC0\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Country","fromt":"str","to":"orgUnit","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Cases","fromt":"str","to":"value","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Status\":\"confirmed\"","fromt":"str","to":"dataElement\" : \"vTfF5n028yM\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Date","fromt":"str","to":"period","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"[","fromt":"str","to":"{   \"dataValues\" : [ ","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"\"orgUnitCode\":\"\",","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":359,"wires":[["f5716970.895818"]]},{"id":"8626eca5.4ba548","type":"change","z":"ec926726.72b7b","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":",     {","fromt":"str","to":",     {","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"]","fromt":"str","to":"]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":362,"wires":[["5394be4e.8cce88","9a977189.7d3dd"]]},{"id":"3fa892e0.bd508e","type":"http request","z":"ec926726.72b7b","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.covid19api.com/total/dayone/country/australia/status/confirmed","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":381,"wires":[["faba1476.0c27e8"]]},{"id":"e53fdb9f.44ce2","type":"inject","z":"ec926726.72b7b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"Inject","payloadType":"str","x":90,"y":402,"wires":[["3fa892e0.bd508e"]]},{"id":"74345f93.7866a","type":"comment","z":"ec926726.72b7b","name":"Important","info":"Note: Important!!!!\n\n\ncategoryOptionCombo\" : \"PXMpT9hEHZu\" = Deaths\n\ncategoryOptionCombo\" : \"eVhEvU8A1Xe\" = Confirmed Cases\n\n\nNB** You need to also change data element\n\nto either confirmed or deaths.","x":380,"y":540,"wires":[]},{"id":"f2e5b8e1.617d","type":"comment","z":"ec926726.72b7b","name":"Confirmed Working (click for readme)","info":"These commands must be terminal\n\nYou need to copy the files from nodered docker container with this command\ncp  mynodered:/data  /Users/roger/code\n\n\n\nPost to dhis2 with this script \n ./dhis2-con-post.sh (note in home folder on iMAC)","x":530,"y":260,"wires":[]},{"id":"69cbf00c.a19ec","type":"comment","z":"9d7c11ca.02199","name":"Deaths Working (click for readme)","info":"These commands must be terminal\n\nYou need to copy the files from nodered docker container with this command\ncp  mynodered:/data  /Users/roger/code\n\n\n\nPost to dhis2 with this script \n ./dhis2-post.sh (note in home folder on iMAC)","x":540,"y":200,"wires":[]}]